body {
	font-family: 'Open Sans';
}

#navbar {
	display: block;
	background-color: #1a1a1a;
	padding-top: 5px;
	padding-bottom: 1px;
	width: 100%;
	min-width: 1480px;
}

#navbar-background {
	display: block;
	background-color: black;
}

#navbar #ul-container { 
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#navbar ul {
	display: block;
	margin-top: 0;
}

#navbar li {
	display: inline-block;
	float: left;
}

#navbar li a {
	display: block;
	padding: 15px;
	font-size: 18px;
	text-align: center;
	background-color: transparent;
	color: white;
	border-left: 1px solid #1a1a1a;
	border-right: 1px solid #1a1a1a;
		-webkit-transition: background 0.15s linear;
        -moz-transition: background 0.15s linear;
        -ms-transition: background 0.15s linear;
        -o-transition: background 0.15s linear;
        transition: background 0.15s linear;
}

#navbar li a:hover {
	background-color: #0a0a0a;
}

#navbar li a.selected {
	background-color: #0a0a0a;
}

#home p {
	text-align: center;
	background-color: black;
	padding: 50px;
	font-size: 30px;
	color: white;
	margin-top: 0px;
	padding-top: 150px;
	padding-bottom: 150px;
	margin-bottom: 0px;
	z-index: 1000;
	position: relative;
}

img {
	display: inline-block;
	max-width: 100%;
	margin-left: 15%;
	z-index: 1000;
	position: relative;
	vertical-align: bottom;
}

.extend-to-bottom, body {
	background-color: black;
	margin: 0;
	padding-bottom: 0;
	bottom: 0px;
	height: 100%;
	min-width: 1480px;
}

section, #home {
	display: block;
	padding-left: 80px;
	padding-top: 60px;
	padding-bottom: 0px;
	padding-right: 0px;
	background: url(../images/backgroundLarge.jpg);
	background-repeat: no-repeat;
	height: 100%;
	position: relative;
}

#home {
	padding-left: 0px;
	min-width: 1480px;
}

#main-container {
	padding-left: 80px;
	min-width: 1320px;
}

a {
	text-decoration: none;
}

#text-container {
	margin-top: 70px;
	display: inline-block;
	position: absolute;
	right: 23%;
}

#text-container .text {
	display: block;
	height: 100px;
	z-index: 1000;
	position: relative;
}

#text-container .text a {
	color: rgba(255, 255, 255, 0.8);
	display: table;
	font-size: 40px;
	text-align: center;
	width: 300px; 
	line-height: 100px;
	margin: auto;
		font-weight: normal;
	-webkit-transition: color 0.25s linear;
        -moz-transition: color 0.25s linear;
        -ms-transition: color 0.25s linear;
        -o-transition: color 0.25s linear;
        transition: color 0.25s linear;
}

#text-container .text a:hover {
	color: white;
}

#text-container li img {
	margin: auto;
	vertical-align: middle;
}

#separator {
	text-align: center;
	height: 60px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

section.tabContent.hide {
	display: none;
}

#home.tabContent.hide {
	display: none;
}

#developer {
	margin-bottom: 10px;
}

section {
	color: white;
	height: 100%;
}

section ul {
	padding: 0;
}

section h1 {
	font-size: 45px;
	display: block;
	padding-top: 0;
	margin-top: 0;
	font-weight: normal;
}

section h2 {
	font-size: 20px;
	display: block;
	margin: 0;
}

section p {
	display: inline-block;
}

section li {
	display: inline-block;
	border: 2px solid #2a2a2a;
	background-color: rgba(0, 0, 0, 1);
	margin-left: 7%;
	z-index: 1000;
	position: relative;
	width: 1200px;
	margin-bottom: 50px;
	margin-right: 100px;
}

section img {
	float: left;
	margin-top: 2px;
	margin-left: 10px;
	padding: 20px 20px 20px 20px;
}

section .details {
	background-color: transparent;
	border: none;
	display: none;
}

section .details .container {
	background-color: transparent;
	border: none;
	margin-left: 5%;
	margin-top: 50px;
	display: block;
	vertical-align: top;
}

section .details.hide {
	display: none;
}

section .summary-box {
	margin-top: 15px;
	margin-left: 20px;
	display: inline-block;
	width: 700px;
}

section .summary-box p {
	font-size: 15px;
	clear: both;
}

section .dev-type {
	margin-left: 20px;
	display: inline-block;
	margin-right: 40px;
	float: right;
	padding-bottom: 15px;
}

section .details-button {
	display: block;
	text-align: center;
	border: 1px solid #1a1a1a;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-transition: background 0.1s linear;
        -moz-transition: background 0.1s linear;
        -ms-transition: background 0.1s linear;
        -o-transition: background 0.1s linear;
        transition: background 0.1s linear;

}

section .details-button:hover {
	background-color: #0a0a0a;
}

section .details-button.selected {
	background-color: #0a0a0a;
}

section .dev-type p {
	display: block;
	font-weight: 600;
	font-size: 18px;
	width: 250px;
	text-align: center;
	height: 30px;
}

section a {
	color: #1f34ba;
}

ul {
	list-style-type: none;
}

#engineer .details-section {
	width: 200px !important;
	font-size: 15px !important;
	margin-left: 20px !important;
	margin-right: 20px !important;
}

.details-section {
	display: inline-block;
	position: relative;
	width: 170px;
	margin-left: 15px;
	margin-right: 15px;
	top: 0px;
	vertical-align: top;
	font-size: 15px;
}

#entrepreneur p {
	display: inline-block;
	float: right;
	width: 950px;
	padding-right: 10px;
}

#entrepreneur div {
	display: inline-block;
	border: 2px solid #1a1a1a;
	background-color: rgba(0, 0, 0, 0.7);
	margin-left: 4%;
	width: 1300px;
	margin-bottom: 50px;
	font-size: 19px;
	z-index: 1000;
	position: relative;

}

#entrepreneur img {
	padding-top: 30px !important;
	padding-left: 20px;
}

#entrepreneur h1 {
	padding-bottom: 30px;
}

#entrepreneur, #engineer {
	height: 84%;
}

p.dev-top.stretch {
	-webkit-transition: 0.5s ease-in-out;
  	-moz-transition: 0.5s ease-in-out;
 	-ms-transition: 0.5s ease-in-out;
  	-o-transition: 0.5s ease-in-out;
 	transition: 0.5s ease-in-out;
  	height: 250px !important;
}

p.dev-top.shrink {
	-webkit-transition: 0.5s ease-in-out;
  	-moz-transition: 0.5s ease-in-out;
 	-ms-transition: 0.5s ease-in-out;
  	-o-transition: 0.5s ease-in-out;
 	transition: 0.5s ease-in-out;
  	height: 30px !important;
}
 
.fade-in {
    -webkit-transition: 500ns;
  	-moz-transition: 500ms;
 	-ms-transition: 500ms;
  	-o-transition: 500ms;
 	transition: 500ms;
  	opacity: 1 !important;
}

.fade-out {
	-webkit-transition: 250ms;
  	-moz-transition: 250ms;
 	-ms-transition: 250ms;
  	-o-transition: 250ms;
 	transition: 250ms;
  	opacity: 0 !important;
}

#particles-js {
	width: 100%;
	height: 660px;
	top: 60px;
	z-index: 100;
	position: absolute;
}

#myomote img {
	width: 100px;
}

#notify-me img {
	width: 100px;
}

#reflex img {
	width: 120px;
}

#retail-sensei-hardware img {
	width: 100px;
}

#myomote-hardware img {
	width: 120px;
}