#navbar {
	display: block;
	background-color: #1a1a1a;
	padding-top: 5px;
	padding-bottom: 1px;
}

#navbar-background {
	display: block;
	background-color: black;
}

#navbar #ul-container {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#navbar ul {
	display: block;
	margin-top: 0;
}

#navbar li {
	display: inline-block;
	float: left;
}

#navbar li a {
	display: block;
	padding: 15px;
	font-size: 18px;
	text-align: center;
	background-color: transparent;
	color: white;
	border-left: 1px solid #1a1a1a;
	border-right: 1px solid #1a1a1a;
}

#navbar li a:hover {
	background-color: #0a0a0a;
}

#navbar li a.selected {
	background-color: #0a0a0a;
}

img {
	display: inline-block;
	max-width: 100%;
	margin-left: 15%;
	vertical-align: bottom;
	bottom: 0px;
}

.extend-to-bottom, body {
	background-color: black;
	margin: 0;
	padding-bottom: 0;
	bottom: 0px;
	height: 100%;
}

#float-to-bottom {
	width: 100%;
}

section, #home {
	display: block;
	padding-bottom: 0px;
	background: url(../images/backgroundLarge.jpg);
	background-repeat: no-repeat;
	height: calc(100% - 57px) !important;
	min-height: calc(100% - 57px);
	position: relative;
}

#home {
	min-width: 1150px;
}

section {
	padding-left: 50px;
}

table {
	height: 100%;
	border-collapse: collapse;
	width: 100%;
}

a {
	text-decoration: none;
}

#text-container {
	margin-top: 70px;
	display: inline-block;
	position: absolute;
	right: 23%;
}

#text-container .text {
	display: block;
	height: 100px;
}

#text-container .text a {
	color: white;
	display: table;
	font-size: 50px;
	font-family: Futura;
	text-align: center;
	width: 300px; 
	line-height: 100px;
	margin: auto;
}

#text-container li img {
	margin: auto;
	vertical-align: middle;
}

#separator {
	text-align: center;
	height: 60px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

section.tabContent.hide {
	display: none;
}

#home.tabContent.hide {
	display: none;
}

#developer {
	margin-bottom: 10px;
}

section {
	color: white;
	padding-top: 0;
	font-family: Futura;
}

section ul {
	padding: 0;
}

section h1 {
	font-size: 50px;
	display: block;
	margin-top: 0px;
	padding-top: 40px;
	padding-left: 40px;
}

section h2 {
	font-size: 30px;
	display: block;
	margin: 0;
}

section p {
	display: inline-block;
}

section li {
	display: inline-block;
	border: 2px solid #1a1a1a;
	background-color: rgba(0, 0, 0, 0.7);
	margin-left: 7%;
	width: 1200px;
	margin-bottom: 50px;
}

section img {
	float: left;
	margin-top: 2px;
	margin-left: 10px;
	padding: 20px 20px 20px 20px;
}

section .details {
	background-color: transparent;
	border: none;
	display: none;
}

section .details .container {
	background-color: transparent;
	border: none;
	margin-left: 5%;
	margin-top: 30px;
	display: block;
	vertical-align: top;
}

section .details.hide {
	display: none;
}

section .summary-box {
	margin-top: 15px;
	margin-left: 20px;
	display: inline-block;
	width: 700px;
}

section .summary-box p {
	font-size: 20px;
	clear: both;
}

section .dev-type {
	margin-left: 20px;
	display: inline-block;
	margin-right: 40px;
	float: right;
	padding-bottom: 15px;
}

section .details-button {
	display: block;
	text-align: center;
	border: 1px solid #1a1a1a;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}

section .details-button:hover {
	background-color: #0a0a0a;
}

section .details-button.selected {
	background-color: #0a0a0a;
}

section .dev-type p {
	display: block;
	font-weight: 600;
	font-size: 23px;
	width: 250px;
	text-align: center;
	height: 30px;
}

section a {
	color: #1f34ba;
}

ul {
	list-style-type: none;
}

#helper-main {
	position: absolute;
	width: 100%;
	display: block;
	min-height: calc(100% - 600px);
}

#designer .details-section {
	width: 350px !important;
	font-size: 20px !important;
	margin-left: 20px !important;
	margin-right: 20px !important;
}

.details-section {
	display: inline-block;
	position: relative;
	width: 170px;
	margin-left: 15px;
	margin-right: 15px;
	top: 0px;
	vertical-align: top;
	font-size: 18px;
}

#entrepreneur p {
	display: inline-block;
	float: right;
	width: 950px;
	padding-right: 10px;
}

#entrepreneur div {
	display: inline-block;
	border: 2px solid #1a1a1a;
	background-color: rgba(0, 0, 0, 0.7);
	margin-left: 6%;
	width: 1300px;
	margin-bottom: 50px;
	font-size: 25px;
}

#entrepreneur img {
	padding-top: 50px !important;
	padding-left: 20px;
}

#entrepreneur h1 {
	padding-bottom: 50px;
	margin-bottom: 0px;
}

p.dev-top.stretch {
	-webkit-transition: 0.5s ease-in-out;
  	-moz-transition: 0.5s ease-in-out;
 	-ms-transition: 0.5s ease-in-out;
  	-o-transition: 0.5s ease-in-out;
 	transition: 0.5s ease-in-out;
  	height: 250px !important;
}

p.dev-top.shrink {
	-webkit-transition: 0.5s ease-in-out;
  	-moz-transition: 0.5s ease-in-out;
 	-ms-transition: 0.5s ease-in-out;
  	-o-transition: 0.5s ease-in-out;
 	transition: 0.5s ease-in-out;
  	height: 30px !important;
}
 
.fade-in {
    -webkit-transition: 500ns;
  	-moz-transition: 500ms;
 	-ms-transition: 500ms;
  	-o-transition: 500ms;
 	transition: 500ms;
  	opacity: 1 !important;
}

.fade-out {
	-webkit-transition: 250ms;
  	-moz-transition: 250ms;
 	-ms-transition: 250ms;
  	-o-transition: 250ms;
 	transition: 250ms;
  	opacity: 0 !important;
}