#navbar {
	display: block;
	background-color: #1a1a1a;
	padding-top: 5px;
	padding-bottom: 1px;
}

#navbar-background {
	display: block;
	background-color: black;
}

#navbar #ul-container {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#navbar ul {
	display: block;
	margin-top: 0;
}

#navbar li {
	display: inline-block;
	float: left;
}

#navbar li a {
	display: block;
	padding: 15px;
	font-size: 18px;
	text-align: center;
	background-color: transparent;
	color: white;
	border-left: 1px solid #1a1a1a;
	border-right: 1px solid #1a1a1a;
}

#navbar li a:hover {
	background-color: #0a0a0a;
}

img {
	display: inline-block;
	max-width: 100%;
	margin-left: 15%;
	vertical-align: bottom;
}

body {
	background-color: black;
	margin: 0;
	padding-bottom: 0;
	height: 100%;
}

section {
	display: block;
	padding: 80px;
	padding-bottom: 0;
	background: url(../images/backgroundLarge.jpg);
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

#text-container {
	margin-top: 70px;
	display: inline-block;
	position: absolute;
	margin-left: 13%;
	z-index: 1;
}

#text-container .text {
	display: block;
	height: 100px;
}

#text-container .text a {
	color: white;
	display: table;
	font-size: 50px;
	font-family: Futura;
	text-align: center;
	width: 300px; 
	line-height: 100px;
	margin: auto;
}

#text-container li img {
	margin: auto;
	vertical-align: middle;
}

#separator {
	text-align: center;
	height: 60px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}